.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #f197ff;
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
}

.optionsDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowsDiv {
  margin: 0 auto;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsDiv{
  display: flex;
}


.arrowsDiv button {
  cursor: pointer;
  margin: 5px auto;
  padding: 7px 13px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #31b5e7;
  color: white;
  font-size: 17px;
}


.emptyCells {
  display: inline-block;
  background-color: #31b5e7;
  margin: 1px;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.AddNewBoardBtn,
.startBtn {
  font-size: 15px;
  text-align: center;
  background-color: #f07427;
  border-radius: 15px;
  border: none;
  color: #fdf5e6;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  outline: none;
}

.select {
  border-radius: 10px;
  border: none;
  float: right;
  background-color: lightgreen;
  outline: none;
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.showMessage {
  text-align: center;
}



